DOCKER_USERNAME=your_dockerhub_username

POSTGRES_USER=developer
POSTGRES_PASSWORD=your_secure_password_here_change_me
POSTGRES_DB=loft_shop_production

ASPNETCORE_ENVIRONMENT=Production

GOOGLE_PRODUCTION_CLIENT_ID=1031648550234-v296d5d0efagr4mlmpigha8kb1ufmouo.apps.googleusercontent.com
GOOGLE_PRODUCTION_CLIENT_SECRET=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
