.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
*.dll
*.exe
*.log
*.vsix

.idea/

*.env
docker-compose.override.yml
docker-compose.override.*.yml

node_modules/

.DS_Store
Thumbs.db

*.pfx
*.key
*.pem
